<%- include('../../partials/header'); %>

<body>
  <%- include('../../partials/navbar'); %>
  <div class="container">
    <hr>
    <h2>Artigos</h2>
    <hr>
    <a href="/admin/articles/new" class="btn btn-primary mb-4 mt-4">Criar novo artigo</a>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Título</th>
          <th scope="col">Slug</th>
          <th scope="col">Categoria</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach(article => { %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.slug %></td>
                <td><%= article.category.title %></td>
                <td>
                    <form action="/admin/articles/delete" method="POST" style="display: inline;"
                    onsubmit="confirmDel(event, this)">
                    <input type="hidden" name="id" value="<%= article.id %>">
                    <button class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }); %>
      </tbody>
    </table>

  </div>
</body>

<%- include('../../partials/footer'); %>

<script>
  function confirmDel(event, form) {
    event.preventDefault();

    const confirmedDeletion = confirm('Têm certeza que deseja deletar esse artigo?');

    if (confirmedDeletion) {
      form.submit()
    }
  }
</script>